.skillCards {
  background-color: var(--second-background-color);
  border-radius: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 2rem;
  padding: 2rem;
}

.skilCard {
  display: grid;
  grid-template-columns: 2fr 2fr;
}

.pic-back-end {
  height: 6rem;
}
